:root {
  --primaryColor: rgb(255, 235, 200);
}

body {
  margin: 0px 0px;
}

.sectionBox {
  background: var(--primaryColor);
  border-radius: 5%;
  width: 75%;
  
  display: flex;
  flex-direction: column;
}

.boxShadow {
  box-shadow: 0px 9px 7px 2px black;
}


.title {
  color: rgb(255, 140, 140);
  font-size: 40px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}


.gifAsset {
  border-radius: 5%;
  border: 5px solid black;
  margin: 20px auto;
  margin-bottom: 0px;
  height: auto;
  width: 28%;
}
.gifDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

video {
  margin: 20px;
}

@media (max-width: 1000px) {
  .sectionBox {
    width: 90%;
  }
  .title {
    font-weight: 300;
    font-size: 30px;
  }
}